:root {
    --primary-color: #121417;
    --secondary-color: #12141780;
    --accent-color: #3470FF;
    --accent-hover: #0B44CD;
    --label-color: #8A8A89;
    --invert-color: #FFFFFF;
    --select-color: #12141733;
    --separator-color: #1214171A;

    --background-color: #FFFFFF;
    --input-background-color: #F7F7FB;

    --condition-background-color: #F9F9F9;
    --condition-color: #363535;
}