.advertsList {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    row-gap: 50px;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 100px;
}

.ListItem {
    list-style-type: none;
}