@import '../../styles/variables.css';

.buttonClose {
    position: absolute;
    top: 22px;
    right: 22px;

    padding: 0;
    cursor: pointer;

    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonClose:focus,
.buttonClose:hover {
    color: var(--accent-hover);
}

.buttonCloseIcon {
    width: 12px;
    height: 12px;

    fill: currentColor;
}